<div class="search-bar">
    <h1>Search for flights:</h1>
    <%= form_with model: @flight, method: :get do |form| %>
      <div class="form-field">
        <%= form.label :origin_port_id, "FROM" %>
        <%= form.collection_select :origin_port_id, Airport.order(:id), :id, :city %>
      </div>
      <div class="form-field">
        <%= form.label :destination_port_id, "TO" %>
        <%= form.collection_select :destination_port_id, Airport.order(:id), :id, :city %>
      </div>
      <div class="form-field">
        <%= form.label :date, "DATE" %>
        <%= form.select :date, @flight_dates %>
      </div>
      <div class="form-field">
        <%= form.label :no_of_passengers, "Passengers" %>
        <%= form.select :no_of_passengers, [1, 2, 3, 4] %>
      </div>
      <div class="form-field">
        <%= form.submit "Find Flights" %>
      </div>
    <% end %>
  </div>