<div class="flex-container">

  <% if params[:commit].nil? %>
    <div class="feed">
      <h1>All flights</h1>
      <% @flights.each do |flight| %>
        <div class="flight-container">
          <p>Departing: <%= flight.origin_port.code %></p>
          <p>Arriving: <%= flight.destination_port.code %></p>
          <p>Flight date: <%= flight.formatted_date %></p>
          <p>Flight duration: <%= flight.duration %> minutes</p>
        </div>
      <% end %>
    </div>

    <%= render "search_form" %>

  <% else %>
    <div class="feed">
      <h1>Search results:</h1>
      <% @flights.each do |flight| %>
        <div class="flight-container">
          <p><strong>Flight #: <%= flight.id %></strong></p>
          <p>Departing: <%= flight.origin_port.code %></p>
          <p>Arriving: <%= flight.destination_port.code %></p>
          <p>Flight date: <%= flight.formatted_date %></p>
          <p>Flight duration: <%= flight.duration %> minutes</p>
        </div>
      <% end %>
    </div>

    <div class="feed">
      <%= render "search_form" %>

      <div class="search-form">
        <h1>Select a flight:</h1>
        <%= form_with url: new_booking_path, scope: :selection,  method: :get do |form| %>
          <%= form.hidden_field :no_of_passengers, value: params[:no_of_passengers] %>
          <div class="form-field">
            <%= form.collection_radio_buttons :flight_selection, @flights.order(:date), :id, :id do |b| %>
              <p>Flight #<%= b.label %><%= b.radio_button %></p>
            <% end %>
          </div>
          <div class="form-field">
            <%= form.submit "Book now" %>
          </div>
        <% end%>
      </div>
    </div>
  <% end%>
</div>
