<div class="flex-container">

  <% if params[:commit].nil? %>
    <div class="feed">
      <h1>All flights</h1>
      <% @flights.each do |flight| %>
        <div class="flight-container">
          <p>Departing: <%= flight.origin_port.code %></p>
          <p>Arriving: <%= flight.destination_port.code %></p>
          <p>Flight date: <%= flight.date %></p>
          <p>Flight duration: <%= flight.duration %> minutes</p>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="search-bar">
      <h1>Search results:</h1>
      <%= form_with url: "/flights", method: :get do |form| %>
        <div class="form-field">
          <%= form.collection_radio_buttons :flight_selection, @flights.order(:id), :id, :flight_info %>
        </div>
        <div class="form-field">
          <%= form.submit "Book flight" %>
        </div>
      <% end%>
    </div>
  <% end%>

  <div class="search-bar">
    <h1>Search for flights:</h1>
    <%= form_with model: @flight, method: :get do |form| %>
      <div class="form-field">
        <%= form.label :origin_port_id, "FROM" %>
        <%= form.collection_select :origin_port_id, Airport.order(:id), :id, :city %>
      </div>
      <div class="form-field">
        <%= form.label :destination_port_id, "TO" %>
        <%= form.collection_select :destination_port_id, Airport.order(:id), :id, :city %>
      </div>
      <div class="form-field">
        <%= form.label :date, "DATE" %>
        <%= form.collection_select :date, Flight.order(:date), :date, :formatted_date %>
      </div>
      <div class="form-field">
        <%= form.label :no_of_passengers, "Passengers" %>
        <%= form.select :no_of_passengers, [1, 2, 3, 4] %>
      </div>
      <div class="form-field">
        <%= form.submit "Find Flights" %>
      </div>
    <% end %>
  </div>
</div>
