<div class="flex-container">

  <div class="search-bar">
    <h1>Booking details</h1>
    <%= form_with model: @booking do |form| %>
      <%= form.hidden_field :no_of_passengers, value: params[:selection][:no_of_passengers] %>
      <%= form.hidden_field :flight_id, value: params[:selection][:flight_selection] %>
      
      <div class="flight-container">
        <p>Departing: <%= @flight_selection.origin_port.code %></p>
        <p>Arriving: <%= @flight_selection.destination_port.code %></p>
        <p>Flight date: <%= @flight_selection.formatted_date %></p>
        <p>Flight duration: <%= @flight_selection.duration %> minutes</p>
      </div>

      Passenger information:
      <ul>
        <%= form.fields_for :passengers do |p| %>
          <li>
            <%= p.label :name %>
            <%= p.text_field :name %>
            
            <%= p.label :email %>
            <%= p.text_field :email%>
          </li>
        <% end %>
      </ul>

      <%= form.submit "Confirm booking" %>
    <% end %>
  </div>

</div>
