<div class="flex-container">

  <div class="feed">

    <h1>Booking details</h1>

    <h2>Your Flight:</h2>
    <div class="booking-container">
      <p>Departing: <%= @booking.flight.origin_port.code %></p>
      <p>Arriving: <%= @booking.flight.destination_port.code %></p>
      <p>Flight date: <%= @booking.flight.formatted_date %></p>
      <p>Flight duration: <%= @booking.flight.duration %> minutes</p>
    </div>

    <h2>Passengers:</h2>
    <% @booking.passengers.each do |passenger| %>
      <div class="booking-container">
        <p>Name: <%= passenger.name %></p>
        <p>Email: <%= passenger.email %></p>
      </div>
    <% end %>
  </div>
</div>